ourServices.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ourServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="service" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="dr"/>
              <xs:element type="xs:short" name="startedYear"/>
              <xs:element type="xs:byte" name="curRankCountry"/>
              <xs:element type="xs:short" name="curRankWW"/>
              <xs:element type="xs:string" name="desc"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>